.Builder-enter {
    opacity: .8;
    transform: scale(.975);
}

.Builder-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms, transform 300ms;
}

.Builder-exit {
    opacity: 1;
}

.Builder-exit-active {
    opacity: .8;
    transform: scale(.975);
    transition: opacity 300ms, transform 300ms;
}